@model web.Models.Customer
@{
    ViewData["Title"] = "Clientes";
      Layout = "~/Views/Shared/_principal.cshtml";

}

<br />
<button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#add">Registrar nuevo</button>
<br />
<br />

@if (Enumerable.Count(ViewBag.customers) > 0)
{
    <table class="table table-striped" id="tabla-customer"  style="text-align: center;">
    <thead class="table-dark">
        <tr>
            <th>Documento</th>
            <th>Nombre</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody >
       @foreach(var item in  ViewBag.customers)
        {
            <tr>
                <td>@item.Dnicustomer</td>
                <td>@item.Namecustomer</td>
                <td>
                    <button idcustomer=@item.Idcustomer id="borrar-customer" type="button" class="btn btn-danger">Eliminar </button>
                    <button idcustomer=@item.Idcustomer id="edit-customer" type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editar"  onclick="mostrarID(@item.Idcustomer)"> Editar </button>
                </td>
            </tr>
        }

    </tbody>
</table>  

}
else
{
    <div>
        <h2> Aun no hay datos para mostrar
             <i class="bi bi-search" style="font-size: 4rem;"></i>
        </h2>
    </div>
}
 
<div class="modal fade" id="add" role="dialog">
    <div class="modal-dialog modal-m modal-dialog-centered">
        <div class="modal-content">
            
            <form  method="post" asp-action="SaveCustomer">
                <div class="modal-header">

                      <input  type="number" class="form-control" maxlength="8" placeholder="Ingresar dni" id="buscar-dni"/>
                      <button type="button" class="btn btn-primary" id="buscar-cliente">Buscar</button>
                      
                    
                </div>

                <div class="modal-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                         <div class="form-group">
                            <label asp-for="Dnicustomer" class="control-label"></label>
                            <input asp-for="Dnicustomer" class="form-control" id="add-dni" readonly/>
                            <span asp-validation-for="Dnicustomer" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Namecustomer" class="control-label"></label>
                            <input asp-for="Namecustomer" class="form-control" id="add-nombre" readonly/>
                            <span asp-validation-for="Namecustomer" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Lastnamecustomer" class="control-label"></label>
                            <input  asp-for="Lastnamecustomer" class="form-control" id="add-apellidos" readonly/>
                            <span asp-validation-for="Lastnamecustomer" class="text-danger"></span>
                        </div>

                         <div class="form-group">
                            <label asp-for="Phonecustomer" class="control-label"></label>
                            <input type="number"  asp-for="Phonecustomer"  id="add-telf"  class="form-control"/>
                            <span id="span" asp-validation-for="Phonecustomer" class="text-danger"></span>
                        </div>
           
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="cancelar">Cancelar</button>
                     <button type="submit" class="btn btn-primary" id="agregar" disabled >Agregar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="editar" role="dialog">
    <div class="modal-dialog modal-m modal-dialog-centered">
        <div class="modal-content">
              <div class="modal-header">

                      <input  type="number" class="form-control" maxlength="8" placeholder="Ingresar dni" id="update-buscar-dni" />
                      <button type="button" class="btn btn-primary" id="update-buscar" >Actualizar</button>
                      
                </div>
            
            <form id="update-form" method="post" >
                <input type="hidden" id="id-customer" asp-for="Idcustomer"/>
              
                <div class="modal-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                         <div class="form-group">
                            <label asp-for="Dnicustomer" class="control-label"></label>
                            <input asp-for="Dnicustomer" class="form-control" id="u-dni" readonly/>
                            <span asp-validation-for="Dnicustomer" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Namecustomer" class="control-label"></label>
                            <input asp-for="Namecustomer" class="form-control" id="u-nombre" readonly/>
                            <span asp-validation-for="Namecustomer" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Lastnamecustomer" class="control-label"></label>
                            <input  asp-for="Lastnamecustomer" class="form-control" id="u-apellidos" readonly/>
                            <span asp-validation-for="Lastnamecustomer" class="text-danger"></span>
                        </div>

                         <div class="form-group">
                            <label asp-for="Phonecustomer" class="control-label"></label>
                            <input type="number"  asp-for="Phonecustomer" id="u-telf" class="form-control"/>
                            <span  asp-validation-for="Phonecustomer" class="text-danger"></span>
                        </div>
           
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                     <button type="button" class="btn btn-primary" id="update-customer" disabled  >Actualizar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/js/customer.js" asp-append-version="true"> </script>
<script>



</script>
@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
   
} 

