@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_principal.cshtml";
}
 <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
    <button type="button" class="btn btn-sm btn-outline-secondary" id="ventas" >Ventas</button>
    <button type="button" class="btn btn-sm btn-outline-secondary" id="productos" >Productos</button>
    </div>
    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
    <span data-feather="calendar" class="align-text-bottom"></span>
    This week
    </button>
    </div>
 </div>

@*<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default"> 
            <div class="panel-heading"><b>Producto vendidos</b></div>
            <div class="panel-body">
                <canvas id="graficoProductos" width="100" height="50"></canvas>
            </div>

        </div>
        
    </div>

     <div class="col-lg-6">
        <div class="panel panel-default"> 
            <div class="panel-heading"><b>Ventas al mes</b></div>
            <div class="panel-body">
                <canvas id="graficoVentas" width="100" height="50"></canvas>
            </div>

        </div>
        
    </div>
</div>*@
<div id="divVentas">
    <canvas class="my-4 w-100" id="ChartVentas" width="900" height="380"></canvas>
</div>
<div class=" row" id="divProductos">
    <div class="col-lg-5" >
         <canvas class="my-4 w-100" id="ChartProductos" width="100" height="180"></canvas>
    </div>
    <div class="col-lg-5">

    </div>
</div>



<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"></script>
<script src="~/js/graficos.js" asp-append-version="true"></script>
<script> 
   
</script>


