@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_principal.cshtml";
}
 <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary" id="ventas" >Ventas</button>
            <button type="button" class="btn btn-sm btn-outline-secondary" id="productos" >Productos</button>
             <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" id="dropdownMenuButton1" 
    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
    <span class="align-text-bottom"></span>
    Filtrar mes
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1"  id="drop">
        <li><a class="dropdown-item disabled" aria-disabled="true" >2022</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#" value="6">Junio</a></li>
        <li><a class="dropdown-item" href="#" value="7">Julio</a></li>
        <li><a class="dropdown-item" href="#" value="8">Agosto</a></li>
        <li><a class="dropdown-item" href="#" value="9">Septiembre</a></li>
        <li><a class="dropdown-item" href="#" value="10">Octubre</a></li>
        <li><a class="dropdown-item" href="#" value="11">Noviembre</a></li>
        <li><a class="dropdown-item" href="#" value="12">Diciembre</a></li>
    </ul>

        </div>
    </div>
 </div>
 <div id="divVentas">
      <canvas class="my-4 w-100" id="ChartSales" width="900" height="500"></canvas>
 </div>
<div id="divProductos">
    <canvas class="my-4 w-100" id="ChartProducts" width="900" height="500"></canvas>
</div>



<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"></script>
<script src="~/js/graficos.js" asp-append-version="true"></script>
<script> 
   
</script>


