@{
    ViewData["Title"] = "Ventas";
    Layout = "~/Views/Shared/_principal.cshtml";
}
<h1 style="text-align:center">Registrar venta</h1>
<style>
.error {
border-color:red;
}
th{
color:white
}
.repetido
{
    background-color:#F78837;
}
</style>
<br />
<form method="post"  asp-controller="Sale" asp-action="SaveSale" >
                
<div class="row g-3 align-items-center container" style="margin-bottom:10px;">
  <div class="col-auto">
   <label class="control-label">Cliente</label>
  </div>
  <div class="col-2">
   <select  id="itemcustomer"  name="IdCliente" class="form-control" asp-items="ViewBag.c"></select>
  </div>
  <div class="col-auto">
   <label class="control-label">Producto</label>
  </div>
  <div class="col-2">
   <select  id="itemproduct"  class="form-control" asp-items="ViewBag.p"></select>
  </div>
  <div class="col-auto">
   <label class="control-label">Cantidad</label>
  </div>
  <div class="col-auto">
    <input id="cantidad" type="number"/>
  </div>
   <div class="col-auto">
    <button id="carrito" type="button" class="btn btn-outline-success">Agregar al carrito </button>
  </div>
  
</div>



 
<div id="divtabla">

<table id="tabla" style="text-align: center;" class="table table-bordered table-resposinve-sm ">

<thead style="text-align: center;">
<tr style="background-color:black">
<th>Codigo</th>
<th>Producto</th>
<th>Cantidad</th>
<th>Precio</th>
<th>Total</th>
<th>Ops</th>
</tr>
</thead>

<tbody >

</tbody>

</table>

</div>
<b id="total" style="float:right">TOTAL: S/.0</b>
    <br />
<button id="prueba" style="float:right" type="button" class="btn btn-success" disabled >Guardar venta</button>

</form>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/saleCreate.js" asp-append-version="true"></script>
 <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  
</script>
